@media(min-width:1200px){
.container{
width:1500px;
}
}
a{
     font-size:18px;
     color:White;
}


ul{
list-style-type:none;
text-align: right;
margin:100px;
margin-top:20px;
margin-bottom:50%;
}


li {
display: inline;
border-left:2px solid white;
padding:4px;
}

li:first-child{
text-decoration:none;
border:none;
}

.navbar-inner{
background:#650406;
height:120px;
line-height:110px;
position: fixed;
top: 0;
left: 0;
width: 100%;
border:2px solid black;
}

.line {
  border-bottom: 2px solid white;
  margin: -25px 0;
  margin-left:-40px;
  padding:2px;
}

.no-links{
text-decoration: none;
text-align: center;
padding: 14px 16px;
}

#itemsForm{
display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
grid-template-areas:"header hr"
"sidebar sd"
"footer fo";
}

#name{
grid-area:sidebar;
width:600px;
}
#price{
grid-area:sidebar;

width:180px;
}
#description{
grid-area:sd;}
.btn{
grid-area:fo;}




body{
font-weight: 700;
    background-color: LightGrey;
}



