<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Добавить товар</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" href="../../css/main.css"/>
</head>
<body>

<h1 layout:fragment="header"></h1>
<div layout:fragment="content" class="container">

    <form id="itemsForm"
          th:action="@{/(form)}"
          th:object="${item}"
          action="#"
          method="post">
        <div th:if="${#fields.hasErrors('*')}"
             class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
            </p>
        </div>

        <table>
            <tbody>
            <tr>
                <th>
                    <img src="../static/images/no-images.jpg" width="250" height="145" style="margin-top:150px;"
                         th:src="@{images/no-images.jpg}"/>
<!--                    <a th:href="@{/upload}" href="test.html" class="no-links">-->

<!--                        <form enctype="multipart/form-data" th:action="@{/upload}" method="post" name = "file" target="hiddenframe">-->
<!--                            <input type="hidden" name="MAX_FILE_SIZE" value="64000"/>-->
<!--                            <input  name="file" type="file"/>-->
<!--                        </form>-->
<!--                        <iframe name="file" style="width:0px; height:0px; border:0px"></iframe>-->

                        <form method="post" action="#" th:action="@{/upload}" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" name="file" class="form-control-file"/>
                        </div>
                    </form>
<!--                        -->
<!--                        Загрузить изображение-->
<!--                    </a>-->
                    </th>
<!--                    <label for="file">Загрузить</label>-->
<!--                    <input type="file" th:class="image"/></th>-->
                <th><label for="name" style="margin-right:630px;">Название</label><input type="text"
                                                                                         th:field="*{name}"
                                                                                         th:class="${#fields.hasErrors('name')} ? 'field-error'"/>
                </th>
            </tr>
            <tr>
                <td>
                    <label for="price" style="margin-bottom:200px;">
                        Цена
                    </label>
                    <input type="number" style="margin-top:200px;"
                           th:field="*{price}"
                           th:class="${#fields.hasErrors('price')} ? 'field-error'"/>
                </td>
                <td>
                    <label for="description" style="margin-right:630px;margin-bottom:300px;">
                        Описание
                    </label>
                    <input type="text"
                           th:field="*{description}"
                           th:class="${#fields.hasErrors('description')} ? 'field-error'"/>
                </td>
                <td>
                    <div class="form-actions">
                        <a href="list.html" th:href="@{?shop}" class="btn">Отмена</a>
                    </div>
                </td>
                <td>
                    <div class="form-actions"><input type="submit" value="Сохранить"/></div>
                </td>
            </tr>
            </tbody>


        </table>
    </form>
</div>

</body>
</html>