<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Магазин</title>
  </head>
  <body>
    <div layout:fragment="content" class="container">
      <ul class="products clearfix" th:each="item : ${items}">
        <li class="product-wrapper" th:text="${item.name}">
        </li>
        <li class="product-wrapper" th:text="${item.price}">
        </li>
      </ul>
    </div>
  </body>
</html>